body {
    background-color: #1A1A1A;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    overflow: hidden;
}
.container-fluid{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.center-btn {  
    background-color: #1A1A1A;
    border-color: #1A1A1A;
    color: white;
    height: 100px;
    width: 200px;
    font-size: 60px;
} 
.center-btn:focus {
    outline: none;
    box-shadow: none;
}
#center-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1A1A1A;
    border-color: #1A1A1A;
    height: 100px;
    width: 200px;
    font-size: 45px;
} 
#center-button:hover > img:not(.arrow-clicked){
    transition-duration: .7s;
    animation: ARROW-RIGHT-INITIAL .5s;
    animation-timing-function: cubic-bezier(.37,.39,0,.96);
    animation-fill-mode: forwards;  
}
#center-button:hover > .center-btn {
    background-color:#1A1A1A;
    border-color: #1A1A1A;
    color: white;
}
.arrow {
    transform: translate(-50%, -25%);
    left: calc(calc(200px - 110vw)/2);
    top: 50%;
    position: absolute;
    height: 40px;
    width: auto;
    opacity: 0;
}
.arrow-clicked {
    transform: translate(-50%, -25%);
    left: calc(calc(360px + 0vw)/2);
    top: 50%;
    position: absolute;
    height: 40px;
    width: auto;
    opacity: 80%;
    animation: ARROW-RIGHT-FINAL .5s;
    animation-timing-function: cubic-bezier(.37,.39,0,.96);
    animation-fill-mode: forwards;
}
.top-left-arrow {
    right: 100%;
    top: 2%;
    position: absolute;
    height: 40px;
    width: auto;
    opacity: 80%;
}
.top-left-arrow.anim {
    right: 100%;
    position: absolute;
    height: 40px;
    width: auto;
    opacity: 80%;
    animation: ARROW-TOP-LEFT-IN 1.5s;
    animation-timing-function: cubic-bezier(.06,.49,0,1.04);
    animation-fill-mode: forwards;
}
.top-left-arrow-new {
    right: calc(100% - 45px);
    top: 2%;
    position: absolute;
    height: 40px;
    width: auto;
    opacity: 80%;
}
#textOut {
    position: absolute;
    left: 50px;
    top: 1%;
    font-size: 5vh;
    opacity: 0%;
}
#textOut.anim {
    position: absolute;
    left: 50px;
    top: 1%;
    font-size: 5vh;
    animation: FADE-IN-TEXT 2s; 
    animation-timing-function: cubic-bezier(.06,.49,0,1.04);
    animation-fill-mode: forwards;
}
#oldText {
    position: absolute;
    left: 50px;
    top: 1%;
    font-size: 5vh;
}
@keyframes ARROW-RIGHT-INITIAL{
    0% {
        opacity: 0%;
        left: calc(calc(200px - 110vw)/2);
    }
    100% {
        opacity: 80%;
        left: calc(calc(360px + 0vw)/2);
    }
}
@keyframes ARROW-RIGHT-FINAL {
    0% {
        left: calc(calc(360px + 0vw)/2);
    }   
    100%{
        left: calc(calc(360px + 100vw)/2);
    }
}
@keyframes ARROW-TOP-LEFT-IN {
    0% {
        opacity: 0%;
        right: 100%;
    }
    100% {
        opacity: 80%;
        right: calc(100% - 45px);
    }
}
@keyframes FADE-IN-TEXT {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}